<h1><%= @food_tour.title %></h1>
</div>

<div class="container">
  <div class="wrapper">

    <div class="card-show">
      <h3>Description</h3>
      <h4><%= @food_tour.description %></h4>

    </div>

  </div>
</div>

