a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.half-screen {
  height: 45vh;
}

.container-margin {
  margin-top: 10px;
}
