a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
.bg-cover {
  background-size: cover;
  background-position: center;
}
.half-screen {
  height: 45vh;
}

.container-margin {
  margin-top: 10px;
}

.img-45vh {
  // height: 45vh;
  width: 50vh;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  min-height: 45vh;
  flex: 0 0 50%;
}

.food-tour-img {
  width: 100%;
}

.center-list {
  // display: flex;
  // justify-content: space-around;
  width: 100%;
  padding: 10px 30px;
  text-align: left;
  background-color: white;
}

.flex-date-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
// TODO media queries for .flex-item
