.search-style {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 400px !important;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.navb {
  border-radius: 25px;
}
